@charset "utf-8";
/* css file */
body {
  font-family: Arial, sans-serif;
  background-color: #1A1A1D;
  color: #F8F8FF;
  margin: 0;
  font-style: bold;
}

  /* header styling */
.h1 {
  padding: 0px 40px;
  text-align: center;
  font-size: 35px;
  color: #F8F8FF;
  background: #00BFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
}

.divider {
  margin: 0px 10px;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-family: Arial, "Arial", sans-serif;
  font-size: 24px;
  margin: 0;
    font-style: italic;
}
.title-main {
  font-weight: 600;
  font-family: Arial, "Arial", sans-serif;
  font-size: 24px;
  margin: 0;
    font-style: bold;
}
     
.content {
  padding: 1%;
}
    
h1 {
  background-color: #00BFFF;
  color: #F8F8FF;
  border-radius: 30px
  position: float;
  text-align: center;
  padding: 1%;
}
     
button {
  width: 165px;
}
     
#sideL {
  float: left;
  width: 40%;
  height: 1000px;
  display: block;
}

     
p {
  text-align: center;
}

.button1 {
	background-color: #00BFFF;
	color: #F8F8FF;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
    border-radius: 50px;
}

table.center {
		margin-left: auto; 
		margin-right: auto;
		table-layout: fixed;
}    

f1 {
background-color: #00BFFF;
  color: #F8F8FF;
  font-size: 10px;
  text-align: center;
  padding: 0.5%;
}